.main {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1706px;
    height: 788px;
    background: transparent url('../../images/party-people-enjoy-concert-at-festival-summer-DHDMPWH.jpg') 91% 44% no-repeat padding-box;
    opacity: 1;
    z-index: -1;
}
